.footer{
    background: black;
    height: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer span{
    color: white;
    font-size: 90%;
    text-align: center;
  }